<%- include("header") -%>
    <div class="box" id="heading">
        <h1><%= list_title %></h1>
    </div>
    <div class="box">
        <%for(var i=0; i<new_items.length; i++) {%>
            <div class="item">
                <input type="checkbox">
            <p><%=new_items[i]%></p>
            </div>
        <%}%>

        <form class="item" action="/" method="post">
            <input type="text" name="new_item" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value=<%= list_title %>>+</button>
        </form>
    </div>
<%- include("footer") -%>